@{
    ViewData["Title"] = "Bem-vindo";
}

<div class="container">
    <h1>Bem-vindo ao Financeiro TN!</h1>
</div>

<style>
    .container {
        margin-top: 50px;
    }

    h1 {
        color: #FF3366;
    }

    p {
        font-size: 1.2em;
    }
</style>
