@model NFViewModel

<div>
    <h2>Notas Fiscais</h2>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome do Pagador</th>
            <th>Número da Nota</th>
            <th>Data de Emissão</th>
            <th>Data de Cobrança</th>
            <th>Data de Pagamento</th>
            <th>Valor</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var nf in Model.NFs)
        {
            <partial name="_NF" for="@nf"/>
        }
    </tbody>
</table>